.mainpage{
    display: flex;
    flex-direction: column;
    &__content{
        display: flex;
        justify-content: flex-start;
    }
}

.list__atm{
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    // display: flex;
    justify-content: space-between;
    flex: 2;

}

.queue{
    flex: 1;
    background-color: #fff;
    &__inner{
        background-color: #ccc;
        padding: 10px 10px 5px;
        border-radius: 5px;
    }
    // &__item{
    //     background-color: #fff;
    // }
}

