@media only screen and (max-width: 46.1875em){
    /* mobile */
    .s-col-full{
        width: 100%;
    }
    .s-mt-8{
        margin-top: 8px;
    }
    .s-mt-16{
        margin-top: 16px;
    }
    #header{
        overflow: hidden;
        /* Thuộc tính overflow khi đối tượng con mà trờm ra ngoài vùng của đối tượng cha thì sẽ bị ẩn đi khi dùng hidden, auto là không  */
    }
    #header .search-btn{
        display: none;
    }

    #header .mobile-menu-btn{
        display: block;
    }

    #header .mobile-menu-btn{
        position: absolute;
        top: 0;
        right: 0;
    }
    #nav > li{
        display:block;
    }

    #nav > li > a{
        text-align: left;
        /* width: 100%; */
    }
    #nav{
        display: block;
    }

    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav{
        position: initial;
    }
 
    .subnav a{
        padding: 5px 36px;
        background-color: #333;
        color: #fff;
    }



   



}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    /* table */
}
    
@media only screen and (min-width: 64em){
    /* pc */
}