*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    /* Hành vi cuộn xuống dưới */
    font-family: Arial;
    /* height: 5000px; */
}
#main{

}
.clear{
    clear: both;
}
.text-white{
    color: #fff;
}
.text-center{
    text-align: center !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
    /* Thay cho class clear ở dưới cùng trông html sẽ đẹp hơn  */
}

.col{
    float: left;
    padding: 0 8px;
}

.col-full{
    width: 100%;
}

.col-second{
    width: 50%;
}

.col-third{
    width: 33.33333%;
}
.mt-8{
    margin-top: 8px;
}
.mt-16{
    margin-top: 16px;
}
/* header start*/
#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
#header.show{
    height: auto;
}
#nav, .subnav{
    list-style-type: none;
}
#nav .header-angle-down{
    font-size: 20px;
}
#nav{
    display: inline-block;
}
#nav a{
    text-decoration: none ;
}

#nav > li > a{
    font-size: 16px;
    padding: 0px 24px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 46px;
}
#nav li:hover { 
    /* opacity: 0.5; */
    background-color: #ccc; 
    color: #000;
}
#nav > li{
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav li a{
    display: block;
    /* Để cho tất cả thẻ a đều hiện ở dạng block */
}
#nav .subnav{
    position: absolute;
    /* color: #000; */
    top: 100%;
    left: 0;
    font-size: 15px;
    min-width: 160px;
    line-height: 1.5;
    background-color: #fff;
    display: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    
}
.subnav > li {
    /* line-height: 46px; */
}
.subnav a{
    padding: 0 16px;
    line-height: 38px; 
    color: #000;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}
#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0px 24px;
    cursor: pointer;
    color: #fff;
    top: 0;
    right: 0;
}

#header .mobile-menu-btn{
    display: none;
}

#header .menu-icon,
#header .search-icon{
    font-size: 20px;
    /* font-weight: 400; */
    line-height: 46px;
}

#header .mobile-menu-btn:hover{
    background-color: #fff;
    color: #000;
}
#header .search-btn:hover{
    background-color: red;   
}
.search-icon{

}
/* header end*/

/* SLIDER start*/
#slider{
   margin-top: 46px;
   padding-top: 50%;
   background: url('/assets/img/slider/slider1.jpg') top center /cover no-repeat;
   position: relative;

   /* Note: Phải có padding-top trước thì phần slider mới có kích thước => mới hiện ảnh */
}
#slider .text-content{
    position: absolute;
    bottom: 48px;
    text-align: center;
    width: 100%
}
#slider .text-header{
    font-weight: 600;
}
#slider .text-sub-header{
    margin-top: 25px;
    font-weight: 500;
}
/* SLIDER end*/
/* Content begin */
#content{

}
.section-content{
    max-width: 800px;
    padding: 64px 16px;
    margin-right: auto;
    margin-left: auto;  
    /* text-align: center; */
    /* margin-right; margin-left để tự chỉnh cho đối tượng ra giữa màn hình */
}

#content .section-header,
#content .section-sub-header{
    text-align: center;
    height: 18px;
}

#content .section-header{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
    margin-top: 10px;
    height: 45px;
}

#content .section-sub-header{
    margin-top: 15px;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;

}
#content .content-about{
    font-size: 15px;
    line-height: 1.4;
    margin-top: 15px;
    text-align: justify;
    
}
/* member-list */
#content .member-list{
    margin-bottom: 40px;
}

#content .member-name{
    margin-top: 62px;
    font-size: 15px;
}

#content .member-image{
    width: 60%;
    margin-top: 15px;
    border-radius: 4px;
}
/* Tour-Date */
#content .content-tour-date{
    background-color: #000;
}

.content-tour-date .date-list li{
    color: #757575;
    list-style-type: none;
    /* display: block; */
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 11px 16px;
    font-size: 15px;
    /* line-height: 1.5px; */
}
.content-tour-date .date-list{
    margin-top: 35px;
}
.date-list .sold-out{
    padding: 2px 8px;
    background-color:#f44336;
    margin-left: 16px;
}
.date-list .quantity-ticket{
    background-color: #000;
    /* padding: 0px 8px; */
    float: right;
    margin-right: 16px;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}
/* Buy Ticket */
.ticket-list{
    padding: 16px 0 48px;
}
.ticket-list .ticket-image{
    width: 100%;
    display: block;
}

.ticket-list .ticket-image:hover{
    opacity: 0.6;
}   

.ticket-list .ticket-content{
    background-color: #fff;
    font-size: 15px;
    line-height: 1.4;
    padding: 16px;
}
.ticket-list .ticket-heading{
    font-size: 15px;
    height: 18px;
}
.ticket-list .ticket-date{
    margin-top: 15px;
    height: 22px;
    font-style: italic;
    opacity: 0.6;

}

.ticket-list .ticket-about{
    margin-top: 15px;
}

.ticket-list .buy-ticket-btn{
    margin-top: 15px;
    padding: 12px 16px;
    color: #fff;
    background-color: #000;
    border: none;
}
.ticket-list .buy-ticket-btn:hover{
    background-color: #ccc;
    color: #000;
}
/* Content Contact */
#content .contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
#content .contact-list {
    list-style-type: none;
    font-size: 18px;
    line-height: 1.6;
}

#content .contact-infomation{
    margin-top: 12px;
    padding: 32px;
}
.form-control{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}
.send-button{
    margin-top: 16px;
    margin-bottom: 16px;
    float: right;
    background-color: #000;
    padding: 10px 16px;
    font-size: 15px;
    border: none;
    appearance: none;
    -webkit-appearance: none; 
    /* bỏ cấu hình mặc định */
}

.send-button:hover{
    background-color: #ccc;
    color: #000;
}

.image-footer img{
    width: 100%;
}
/* Content end */

/* Footer */
#footer{
    text-align: center;
    font-size: 24px;
}
#footer .text-icon{
    margin-top: 20px;
    margin-bottom: 15px;
}

#footer .icons a{
    color: #000;
    text-decoration: none;
}
#footer .text-icon a,
#footer .icons a:hover{
    opacity: 0.6;
}

#footer .text-icon a{
    color: #000;
}
/* Footer End */

/* Modal Begin*/
.modal{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
}
.modal-heading-icon{
    margin-right: 15px;
}
.modal .close-button{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 18px;
    padding: 16px ;
}

.modal .close-button:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal-heading-icon{

}

.modal-container{
    width: 900px;
    background-color: #fff;
    /* margin-top: 100px; */
    position: relative;
    max-width: calc(100% - 32px);
    /* cho các trường hợp dưới 900px; */
    animation: modalFadeIn ease 1.1s;
    /* Tạo hiệu ứng di chuyển trượt từ trên xuống */
}

.modal-header{
    background-color: #009688;
    color: #fff;
    width: 100%;
    padding: 48px 16px;
    font-size: 30px;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.modal-footer,
.modal-body{
    padding: 0 16px;
}
.modal-input{
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 16px;
}
.modal-label{
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;

}

.modal-footer{

}
.modal .buy-ticket{
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    background-color: #009688;
    font-size: 16px;
    padding: 16px;
    border: none;
    text-transform: uppercase;
}
.modal .buy-ticket:hover{
    opacity: 0.6;
    cursor: pointer;
}

.modal-help{
    float: right;
    margin-top: 15px;
    margin-bottom: 30px;
}

.modal-help a{
    color: #2196F3;
}

.modal.open{
    display: flex;
}

@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-200px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
/* Modal End*/

/* Note: 
Với các thẻ có chữ, icon muốn căn giữa thì cần css thẳng và các thẻ này với thuộc
tính line-height: xpx */